.hxl-example {
    background: none;
    color: @darkGrayColor;
    min-width: 0;
}
h1 {
    .gothamBookFont(48px);
    color: @darkGrayColor;
    line-height: 1;
}
h4 {
    .gothamBoldFont(14px);
    color: @darkGrayColor;
}
td {
    font-size: 14px;
    padding: 5px;
}
#tag {
    color: @orangeColor;
    margin: 0;
    line-height: 1;
}
#hover {
    .gothamBookFont(24px);
    color: @darkGrayColor;
}
#tagdescription {
    line-height: 1;
}
.tag {
    color: @blueColor;
}
.highlight0 {
    color: @darkGrayColor;
}
.row0 {
    .gothamBoldFont(16px);
    color: @darkGrayColor;
}
.row1 {
    color: @orangeColor;
}